__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.cache/
.venv/
env/
venv/
images/

# Ignore SQLite Databases
*.db
Database/database.db

# Ignore Practice & Lesson Files
a12_lesson_plan.py
a12_line_by_line.py
a12.py
AI.py
ai2.py
AREAS.py
bank.py
clean.py
ex.py
ex2.py
first.py
me.py
new.py
practice.py
python_beginning.py
surface_area.py