<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}" />
	<title>我的网络。(My Website)</title>
	<style>
		.card-dark {
      background: rgba(16, 34, 56, 0.95);
      border: 4px solid #22354d;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    }
	.text-soft {
      color: #a7b3c5;
    }

	</style>
</head>
<body class="bg-dark text-light">
	<div class="container py-4 py-mid-5">
	<section class="card-dark rounded-4 p-4 p-md-5 mb-4">
      <h1 class="display-5 fw-bold mb-3 text-center">{{username_1}}，您好。</h1>
      <p class="lead text-soft mb-3 text-center">
        Your Balance is: <br>
		<p class="fw-bold m-3 text-center">{{balance}} .</p>
      </p>
	  <p class="display-4"></p>
	<p class="display-5 text-success"></p>
    </section>
	</div>

	<p class="text-center textsoft mt-4 mb-0">©️ Maduka Chinonso | Software Developer.</p>
	
	<!-- <form action="/" method="post" class="form-control">
		<label for="text" class="form-control-label">Username: </label>
			<input required type="text" name="username" placeholder="{{username}}" class="form-control">
		
		<label for="pwd" class="form-control-label">Password: </label>
		<input required type="password" name="password" id="" class="form-control" placeholder="{{balance}}">
		<br>
		<button class="btn btn-primary text-center">Submit</button>
	</form> -->
</body>
</html>